html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Navigation Section */
.top-navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #DDD;
  z-index: 9999;
}
.top-navigation > .content {
  width: 970px;
  height: 70px;
}
.top-navigation .logo {
  height: 4.375rem;
}
.top-navigation .links li {
  display: inline-block;
  margin-left: 25px;
}
.top-navigation .links {
float: right;
  font-family: "Roboto", sans-serif;
  color: #838994
  font-size: 16px;
  margin-top: 25px;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}
.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}
.introduction {
  background-image: url('../images/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
}
.introduction h1 {
  margin-top: 17.5rem;
  font-size: 3.125rem;
}
.introduction h1, .introduction h3 {
  color: white;
  text-align: center;
  font-weight: 300;
}
.introduction h3 {
  margin-top: 1.25rem;
  font-size: 1.563rem;
}
.content {
  margin: 0 auto;
  padding: 0px 15px;
  width: 970px;
}
.introduction .button {
  color: white;
  text-align: center;
  margin-top: 1.563rem;
}
body {
  display: block;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialised;
  line-height: 1;
}
h1, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
button:hover {
  background-color: #d9400e;
  border-color: #d9400e;
  cursor: pointer;
}
button {
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 10px auto;;
  display: block;
  width: 9.688rem;
  background-color: #f15a29;
  border-color: #f15a29;
  color: white;
  font-size: 1.125rem;
}
.cases {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 5rem;
  width: 57.2em;
  margin: 0 auto;
}
h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  text-align: center;
}
.cases h2 {
  font-size: 2.75rem;
  margin: 1.625rem 0 3.125rem;
  font-weight: 300;
}
.cases .content {
  margin-top: 7.875rem;
  color: #1d1e21;
  text-align: center;
}
.cases .devices {
   /* styles to assist with debugging */
   box-sizing: border-box;
   list-style: none;
   margin: 0 auto;
   width: 81%;
   padding-left: 0;
}
.cases .devices li {
  display: inline-block;
  width: 33.3333333%;
}
.cases .devices li img {
  display: block;
  margin: 0 auto;
}
.cases .devices h3 {
  font-weight: 400;
  font-size: 1.563rem;
  margin: 2.5rem 0px 1.875rem;
}
h3 {
  display: block;
  font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
}
div, span {
  margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
li {
  display: list-item;
  -webkit-match-parent;
  margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
.cases .devices > li {
    width: 33.3333333%;
    float: left;
  }
.social {
  background-color: #fff;
  overflow: auto;
  padding-bottom: 9.375rem;
  text-align: center;
}
footer {
  display: block;
  margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}
h5 {
    display: block;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    text-align: center;
  }
  ul {
    list-style: none;
    display: block;
-webkit-margin-before: -1em;
-webkit-margin-after: 0em;
-webkit-margin-start: -30px;
-webkit-margin-end: 11px;
-webkit-padding-start: 32px;
  }
  .social .icons > li:hover {
    cursor: pointer;
  }
  .social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
    color: #55acee;
  }
  .social .copy {
      font-size: 0.9rem;
      font-weight: 300;
      color: #838994;
    }

  span, .social {
    margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
  }
